## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [711]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [712]:
# Your code here
sample_list_1=[]

while len(sample_list_1)<80:
    rnd=int(random.random()*100)
    if rnd not in sample_list_1:
        sample_list_1.append(rnd)

    
print(sample_list_1)

[61, 19, 76, 49, 14, 7, 15, 30, 34, 87, 50, 65, 91, 53, 92, 48, 67, 63, 98, 79, 39, 78, 70, 2, 52, 95, 45, 3, 84, 41, 28, 18, 64, 12, 57, 38, 4, 94, 74, 47, 60, 62, 82, 22, 10, 43, 32, 59, 54, 46, 8, 99, 35, 80, 31, 81, 9, 75, 90, 86, 23, 29, 85, 96, 40, 11, 37, 17, 69, 21, 6, 66, 68, 77, 1, 51, 44, 42, 88, 56]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [713]:
# Your code here
set1= set(sample_list_1)
print(set1)

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 15, 17, 18, 19, 21, 22, 23, 28, 29, 30, 31, 32, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 94, 95, 96, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [714]:
# Your code here
sample_list_2 = [int(random.random()*100) for i in range(80)]
print(sample_list_2)

[26, 63, 46, 93, 55, 21, 10, 41, 39, 51, 19, 8, 65, 41, 17, 90, 67, 62, 52, 51, 76, 99, 22, 59, 85, 16, 0, 24, 68, 66, 92, 9, 89, 94, 90, 31, 10, 70, 72, 55, 44, 55, 90, 4, 10, 20, 12, 13, 35, 56, 46, 47, 40, 10, 93, 41, 66, 90, 91, 1, 2, 43, 48, 9, 30, 8, 24, 24, 87, 36, 39, 17, 97, 13, 30, 2, 98, 23, 40, 85]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [715]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
# Probably not, because it will remove duplicated values when setting up as set

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [716]:
# Your code here
set3 = set1 - set2
print(set3)

{3, 6, 7, 11, 14, 15, 18, 28, 29, 32, 34, 37, 38, 42, 45, 49, 50, 53, 54, 57, 60, 61, 64, 69, 74, 75, 77, 78, 79, 80, 81, 82, 84, 86, 88, 95, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [717]:
# Your code here
set4 = set2 - set1
print(set4)

{0, 97, 36, 72, 13, 16, 20, 55, 24, 89, 26, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [718]:
# Your code here
set5 = set1 & set2
print(set5)

{1, 2, 4, 8, 9, 10, 12, 17, 19, 21, 22, 23, 30, 31, 35, 39, 40, 41, 43, 44, 46, 47, 48, 51, 52, 56, 59, 62, 63, 65, 66, 67, 68, 70, 76, 85, 87, 90, 91, 92, 94, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [719]:
# Your code here
# len(set1) + len(set2) = len(set3) + len(set4) + len(set5)*2

#### Create an empty set called `set6`.

In [720]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [721]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

'''
set6.update(set3,set5)
'''

{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 15, 17, 18, 19, 21, 22, 23, 28, 29, 30, 31, 32, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 94, 95, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [722]:
# Your code here
if set1 == set6:
    print(True)
else:
    print(False)
    
''' javier
if set1 == set6:
    print("They are equal")
else: print ("They are not")
'''

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [723]:
# Your code here
if set2.issubset(set1):
    print("set1 contains set2: True")
if set3.issubset(set1):
    print("set1 contains set3: True")
'''
check1 = set1.issubset(set2)
check2 = set1.issubset(set3)
if check1:
    print("Set1 contains set2")
else:
    print("Set1 does not contains set2")
if check2:
    print("Set1 contains set3")
else:
    print("Set1 does not contains set3")
'''

set1 contains set3: True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [724]:
# Your code here
setUnion = set()
setUnion = setUnion.union(set3, set4, set5)
print(setUnion)
setUnion2 = set1.union(set2)
print(setUnion2)
if setUnion == setUnion2:
    print(True)

'''
# javier
union1=set3.union(set4,set5)
union2=set1.union(set2)
if union1 == union2:
    print("They are equal")
else:
    print("They are not equal")
'''

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
True

#### Using the `pop` method, remove the first element from `set1`.

In [725]:
# Your code here
# print(set1.remove(0))
# print(set1.discard(0))

print(set1.pop()) # using pop is not reccomended https://www.w3schools.com/python/ref_set_pop.asp
# https://stackoverflow.com/questions/21017188/set-pop-isnt-random/21017304
# example
Vowels = {'a', 'i', 'o', 'u', 'e'}
print(Vowels.pop())

1
e

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [726]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_to_remove = set(list_to_remove)
print(set1.difference(list_to_remove))

''' Javier
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        list_to_remove.remove(i)
print(list_to_remove)
'''

{2, 3, 4, 6, 7, 8, 10, 12, 14, 15, 17, 18, 22, 23, 28, 30, 32, 34, 35, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 54, 56, 57, 60, 62, 63, 64, 65, 66, 67, 68, 70, 74, 75, 76, 77, 78, 80, 82, 84, 85, 86, 87, 88, 90, 92, 94, 95, 96, 98}